<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SnowTricks {% if namePage is defined %}- {{ namePage }}{% endif %}</title>
        {% block stylesheets %}  {{ encore_entry_link_tags('app') }} {% endblock %}
    </head>
    <body>
        {% block javascripts %} {{ encore_entry_script_tags('app') }} {% endblock %}
        {% block scripts %}{% endblock %}
        {% block header %} {% include 'header.html.twig' %} {% endblock %}
        {% block navbar %} {% include 'navbar.html.twig' %} {% endblock %}
            <div class="my-3 my-md-5">
                <div class="container">
                    {% if namePage is defined %}
                    <div class="page-header">
                        <h1 class="page-title">{{ namePage }}</h1>
                    </div>
                    {% endif %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-icon alert-danger" role="alert"><i class="fas fa-times-circle"></i>{{ message }}</div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-icon alert-success" role="alert"><i class="fas fa-check-circle"></i>{{ message }}</div>
                    {% endfor %}
                    {% for message in app.flashes('info') %}
                        <div class="alert alert-icon alert-info" role="alert"><i class="fas fa-info-circle"></i>{{ message }}</div>
                    {% endfor %}
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        {% block footer %} {% include 'footer.html.twig' %} {% endblock %}
    </body>
</html>
