{% extends 'base.html.twig' %}
 {% block body %}
     <div class="my-3 my-md-5">
         <div class="container">
             <div class="row row-cards row-deck">
                 {% for trick in tricks %}
                     <div class="col-sm-6 col-xl-3">
                         <div class="card">
                             {% if trick.illustrations is not empty %}
                                 <a href="{% if trick.id is not empty %}{{ path('trick_show', {'id': trick.id}) }}{% endif %}">
                                     <img class="card-img-top card-img-snowtricks" src="{{ asset("build/img/")}}{{ trick.illustrations|first.filename }}" alt="no img">
                                 </a>
                             {% else %}
                                 <a href="{% if trick.id is not empty %}{{ path('trick_show', {'id': trick.id}) }}{% endif %}">
                                     <img class="card-img-top card-img-snowtricks" src="{{ asset('build/img/No_Image_Available.jpg')}}" alt="{{ trick.nametrick }}">
                                 </a>
                             {% endif %}
                             <div class="card-body d-flex flex-column">
                                 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                     <div class="row">
                                         <div class="col-md-6">
                                             <h4><a href="{% if trick.id is not empty %}{{ path('trick_show', {'id': trick.id}) }}">{{ trick.nameTrick }}{% endif %}</a></h4>
                                         </div>
                                         <div class="col-md-6 text-right">
                                             <a class="btn btn-outline-warning btn-sm" href="{% if trick.id is not empty %}{{ path('trick_edit', {'id': trick.id}) }}{% endif %}" role="button"><span class="fas fa-edit"></span></a>
                                             <button class="btn btn-outline-danger btn-sm delete-button-trick" value="{{ trick.id }}"><span class="fas fa-trash"></span></button>
                                         </div>
                                     </div>
                                 {% else %}
                                     <h4><a href="{% if trick.id is not empty %}{{ path('trick_show', {'id': trick.id}) }}">{{ trick.nameTrick }}{% endif %}</a></h4>
                                 {% endif %}
                             </div>
                         </div>
                     </div>
                     <div id="delete-modal-trick-{{ trick.id }}" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog">
                         <div class="modal-dialog" role="document">
                             <div class="modal-content">
                                 <div class="modal-header">
                                     <h5 class="modal-title">Suppression figure #{{ trick.id }}</h5>
                                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span aria-hidden="true">&times;</span>
                                     </button>
                                 </div>
                                 <div class="modal-body">
                                     <p>Voulez vous vraiment supprimer la figure "<b>{{ trick.nametrick }}</b>" ?</p>
                                 </div>
                                 <div class="modal-footer">
                                     <a class="btn btn-secondary" role="button" data-dismiss="modal">Annuler</a>
                                     <a class="btn btn-danger delete-trick-modal" href="{% if trick.id is not empty %}{{ path('trick_delete', {'id': trick.id}) }}{% endif %}" role="button">Supprimer</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 {% endfor %}
             </div>
         </div>
     </div>
     <script>
         let buttonsDeleteTrick = document.getElementsByClassName("delete-button-trick");
         for (var i = 0; i < buttonsDeleteTrick.length; i++) {
             buttonsDeleteTrick[i].onclick = function()
             {
                 let idTrick = this.value;
                 $('#delete-modal-trick-'+idTrick).modal('show');
                 console.log($.value());
             }
         }
     </script>
 {% endblock %}