{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="page-title mb-5">{{ app.user.nameuser }} {{ app.user.lastnameuser }}</h3>
                <div>
                    <div class="list-group list-group-transparent mb-0">
                        <a href="{{ path('user_profile') }}" {% if namePage == "user_profile" %} class="list-group-item list-group-item-action d-flex align-items-center active" {% else %}
                            class="list-group-item list-group-item-action d-flex align-items-center" {% endif %}>
                            <span class="icon mr-3"><i class="fa fa-user"></i></span>Mes informations
                        </a>
                        <a href="{{ path('user_password_edit') }}" {% if namePage == "user_password_edit" %} class="list-group-item list-group-item-action d-flex align-items-center active" {% else %}
                           class="list-group-item list-group-item-action d-flex align-items-center" {% endif %}>
                            <span class="icon mr-3"><i class="fa fa-user-edit"></i></span>Modifier mot de passe
                        </a>
                        <a href="{{ path('user_illustration_edit') }}" {% if namePage == "user_illustration_edit" %} class="list-group-item list-group-item-action d-flex align-items-center active" {% else %}
                           class="list-group-item list-group-item-action d-flex align-items-center" {% endif %}>
                            <span class="icon mr-3"><i class="fa fa-upload"></i></span>Modifier image profile
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Modifier mot de passe</h3>
                    </div>
                    <div class="card-body">
                        {% if errors is not empty %}
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}

                        {{ form_start(formEditPassword) }}
                        {{ form_widget(formEditPassword) }}
                        {{ form_end(formEditPassword) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}