{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Utilisateurs</h3>
        </div>

        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Illustration</th>
                    <th>Nom et prenom</th>
                    <th>Adresse email</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="w-1">
                            {% if user.illustration is not null %}
                                <span class="avatar" style="background-image: url({{ asset("build/img/")}}{{ user.illustration.filename }})"></span>
                            {% else %}
                                <span class="avatar" style="background-image: url({{ asset("build/img/")}}'No_Image_Available.jpg')"></span>
                            {% endif %}
                        </td>
                        <td>{{ user.lastnameUser }} {{ user.nameUser }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}