{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="row">
        <div class="col col-8 mx-auto">
            <form class="card" action="" method="post">
                <div class="card-body p-6">
                    <div class="card-title">Connexion</div>
                    {% if error is not empty %}
                        <div class="alert alert-icon alert-danger" role="alert"><i class="fas fa-times-circle"></i>{{ error }}</div>
                    {% endif %}
                    <form action="{{ path('user_login') }}" method="POST">
                        <div class="form-group">
                            <label class="form-label" for="email">Adresse email</label>
                            <input type="email" name="_username" id="email" class="{% if error is empty %}form-control{% else %}form-control is-invalid{% endif %}" placeholder="Adresse email" value="{% if emailAdress is not empty %}{{ emailAdress }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="{% if error is empty %}form-control{% else %}form-control is-invalid{% endif %}" placeholder="Mot de passe">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Connexion</button>
                        </div>
                    </form>

                    <input type="hidden" name="_target_path" value="/"/>
                </div>
            </form>
            <div class="text-center text-muted">
                <p>Mot de passe perdu ? <a href="{{ path('user_password_lost') }}">Récuperer mon mot de passe</a> / Pas encore de compte ? <a href="{{ path('user_register') }}">Inscription</a></p>
            </div>
        </div>
    </div>

{% endblock %}