{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="row">
        <div class="col col-8 mx-auto">
            <form class="card" action="" method="post">
                <div class="card-body p-6">
                    <div class="card-title">Récupération compte</div>

                    {% if error is defined and error is not empty %}
                        <div class="alert alert-icon alert-danger" role="alert"><i class="fas fa-times-circle"></i>{{ error }}</div>
                    {% endif %}

                    {% if message is defined and message is not empty %}
                        <div class="alert alert-icon alert-primary" role="alert">
                            <i class="fas fa-info-circle mr-2" aria-hidden="true"></i> {{ message }}
                        </div>
                    {% endif %}


                    {% if formPasswordChange is defined and formPasswordChange is not empty %}
                        {{ form_start(formPasswordChange) }}
                        {{ form_widget(formPasswordChange) }}
                        {{ form_end(formPasswordChange) }}
                    {% endif %}
                </div>
            </form>
            <div class="text-center text-muted">
                <p>Pas encore de compte ? <a href="{{ path('user_register') }}">Inscription</a></p>
            </div>
        </div>
    </div>

{% endblock %}