{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container">
        <div class="card-header">
            <h3 class="card-title">Récupération du compte - modifier le mot de passe</h3>
        </div>
        <div class="card-body">

            {% if message is defined and message is not empty %}
                {{ message }}
            {% endif %}

            {{ form_start(formPasswordChange) }}
            {{ form_widget(formPasswordChange) }}
            {{ form_end(formPasswordChange) }}
            <p>Aprés avoir reçu le mail : <a href="{{ path('user_password_recovery') }}">Page réintialisation mot de passe</a></p>
        </div>
    </div>

{% endblock %}